
.board-row:after {
    clear: both;
    content: "";
    display: table;
    
  }
  
  .status {
    margin-bottom: 10px;
    padding-top: 10px;
    
  }

  .game1{
    border: none; 
            color: black; 
            padding: 15px 32px; 
            text-align: center; 
            text-decoration: none; 
            display: inline-block; 
            font-size: 16px; 
            margin: 4px 2px; 
            cursor: pointer; 
            border-radius: 12px; 
            background-color: rgb(88, 190, 190);
            position:absolute;
  top: 30px;
  right: 10px;
  border-bottom: 1px solid black;
  }

  .game1:hover{
    background-color: red;
    color:white;
  }

  

  .game11{
    border: none; 
            color: black; 
            padding: 15px 32px; 
            text-align: center; 
            text-decoration: none; 
            display: inline-block; 
            font-size: 16px; 
            margin: 4px 2px; 
            cursor: pointer; 
            border-radius: 12px; 
            background-color: rgb(114, 194, 77);
            border-bottom: 1px solid black;
            
  }

  .game11:hover{
    background-color: rgb(116, 168, 203);
    color:white;
    
  }

  