/* src/components/Square.css */
.square {
    background: #20d958;
    border: 1px solid #999;
    /* float: left; */
    font-size: 10px;
    font-weight: bold;
    line-height: 34px;
    height: 34px;
    margin-right: -1px;
    margin-top: -1px;
    
    text-align: center;
    width: 34px;
    
  }
  
  .square:focus {
    outline: none;
  }
  